.recipe-box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    margin-right: 200px;
    margin-bottom: 100px;
}

.recipe-image {
    width: 250px;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.card-information-box {
    width: 0;
    height: 200px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
    
}
.card-information{
    width: 0;
    opacity: 0;
    height: 200px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.recipe-box:hover>.card-information-box {
    
    opacity: 1;
    width: 300px;
    height: 200px;
    

}

.recipe-box:hover>.card-information-box>.card-information {
    width: auto;
    opacity: 1;
    transition: opacity 0.5s 0.2s;
    

    
}

.recipe-card-title-normal{
  margin: 5px 0 0 0;
  font-family: 'Do Hyeon';
  color: #023F2D;
  font-size: 22px;
}

.recipe-card-title-big{
  margin: 5px 0 0 0;
  font-family: 'Do Hyeon';
  color: #023F2D;
  font-size: 15px;
}

.fast-information-box{
  display: flex;
  flex-direction: row;
}
.summary-box{
  margin-right:10px;
  display: none;
}
.recipe-box:hover>.card-information-box>.card-information>.summary-box{
  display: block;
}
.summary-text{
  font-family: 'Do Hyeon';
  font-size: 15px;
}

