.recipe-box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    margin-right: 30px;
}

.recipe-image {
    width: 250px;
    height: 200px;
    background-color: black;
}

.card-information-box {
    width: 0;
    height: 200px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
    
}
.card-information{
    width: 0;
    opacity: 0;
    height: 200px;
    padding-left: 15px;
    
    
}
.recipe-box:hover>.card-information-box {
    opacity: 1;
    width: 250px;
    height: 200px;
    

}

.recipe-box:hover>.card-information-box>.card-information {
    width: auto;
    opacity: 1;
    transition: opacity 0.5s 0.2s;
    

    
}

.recipe-card-title{
  margin: 15px 0 0 0;
  font-family: 'Do Hyeon';
  color: #023F2D;
  font-size: 22px;
}



.elemento {
  background-color: red;
  transition: background-color 1s;
}

.elemento:hover {
  background-color: blue;
  transition-delay: 1s;
}

