.teste{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.teste2-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}